<% provide(:title, (t :static_cookies_title)) %>
	<div class="box l-generic">
    	<h1 class="center"><%= (t :static_cookies_title) %></h1>


    	<div class="container">
    	</div>

    	<p>Voor een zo goed mogelijke werking van deze website worden cookies gebruikt. 
    	In deze verklaring leggen we u graag uit wat cookies zijn, welke cookies we gebruiken en waar deze cookies voor dienen.
      </p>

      <h2>Wat zijn cookies?</h2>
      <p>Een cookie is een klein bestandje dat door deze website wordt meegestuurd en door uw browser op de harde schijf van uw computer wordt geplaatst. De informatie die in de cookie is opgeslagen kan weer naar deze website teruggestuurd worden, wanneer u de website opnieuw bezoekt. </p>

      <h2>Google Analytics</h2>
      <p>Omdat we graag willen weten hoe onze bezoekers de website gebruiken, zodat we het gebruik van de website kunnen optimaliseren, gebruiken wij Google Analytics.
			Via deze website worden er daarom cookies van Google geplaatst. De informatie die hiermee wordt verkregen analyseert Google voor ons. De informatie wordt zo goed mogelijk geanonimiseerd. Uw IP-adres wordt nadrukkelijk niet gebruikt. Wij kunnen u daarom niet persoonlijk herleiden. 
			Google zal de verkregen informatie enkel met derden delen wanneer zij hiertoe wettelijk verplicht worden of voor zover derden de informatie namens Google verwerken. Wij hebben Google geen toestemming gegeven de verkregen informatie te gebruiken voor andere Google diensten.
			Google is gevestigd in de VS. De verzamelde informatie wordt op Amerikaanse servers opgeslagen. Google conformeert zich aan de <%= link_to 'Safe Harbor principes', 'http://export.gov/safeharbor' %>
			Meer informatie over het beleid van Google Analytics kunt u hier vinden. <%= link_to 'Google Analytics', 'http://www.google.nl/intl/nl/policies/privacy/' %>
			</p>

			<h2>Social Media Buttons</h2>
			<p>Social Media buttons
			We willen het u graag zo gemakkelijk mogelijk maken om berichten op deze website te delen. Dit kan doormiddel van een aantal social media buttons. De verschillende social media kanalen gebruiken code, waarmee ze via de site cookies plaatsen. Deze social media kanalen verzamelen informatie die ze door middel van de cookies kunnen verkrijgen. De meeste social media kanalen zullen zich houden aan de Safe Harbor principes.
			Van de volgende social media kanalen gebruiken wij de buttons. Lees de privacy verklaringen van de respectievelijke social media kanalen om te weten wat zij met de verzamelde informatie doen.
			</p>

			<ul class="ul-basic ul-nostyle">
				<li><%= link_to 'Facebook', 'https://www.facebook.com/about/privacy/' %></li>
				<li><%= link_to 'Twitter', 'https://twitter.com/privacy' %></li>
				<li><%= link_to 'Linkedin', 'http://nl.linkedin.com/legal/privacy-policy' %></li>
			</ul> 

			<h2>Uitschakelen en verwijderen</h2>   	
			<p>Wilt u cookies uitschakelen of verwijderen? Dit kunt u doen via uw browserinstellingen. Gebruik eventueel de help-functie van uw browser om te achterhalen hoe u dit kunt doen.</p>

			<h2>Inzagerecht</h2>
			<p>U heeft het recht om inzicht, correctie en verwijdering van uw gegevens te vragen.
			Wij verwerken echter geen persoonsgegevens door middel van de geplaatste cookies.
			Wij hebben echter geen invloed op het gebruik van de cookies door de social media kanalen. De gegevens die wij door middel van Google Analytics verkrijgen zijn niet tot individuele personen herleidbaar. 
			Mocht u hier toch vragen over hebben, neem dan alstublieft via e-mail contact met ons op.
			</p>
			<p>Meer informatie over cookies kunt u vinden op de website van <%= link_to 'ConsuWijzer', 'http://www.consuwijzer.nl/telecom-post/internet/privacy/uitleg-cookies' %>.</p>

			<hr>
			<ul class="ul-basic ul-nostyle">
				<li>Datavacature.nl</li>
				<li>Kvk: KvK: 62612875</li>
				<li>Btw: NL034042465B01</li>
			</ul>
	</div>
  