<% provide(:title, @job.company + ' - ' + @job.title) %>
<% meta description: "Vacature voor #{@job.title} bij #{@job.company}" %>
<% meta keywords: ['datavacature', 'vacature', @job.title, @job.company] %>

<div class="l-job-show-header pageheader-background-blue-job">
	<div class="text-center">
		<%= image_tag(@job.avatar.url(:large), class: 'img-job') %>
		<h1><%= @job.title %></h1>
		<p><%= @job.company %> | <%= icon('map-marker', (@job.place).capitalize) %> | <%= icon('clock-o', @job.job_type) %></p>
		<p class='p-bio'>
      <em><%= @job.summary %></em>
    </p>
  </div>
</div>

<div class="l-job-show-content">
  <div class="container">
    <div class='l-user-content'>
    	<%= sanitize @job.description, tags: %w(hr h2 h3 h4 strong em ul ol li p a), atrributes: %w(href) %>
    </div>
    		
    <% unless @job.directapply == false %>
      <div class="center container-back">
        <%= link_to 'Solliciteer direct', new_jobapplication_path(job_id: @job.id),  class: "btn btn-default btn-success" %>
    	</div>
    <% end %>
    <hr>
    	
    <p class="timestamp"><b><%= (t :jobs_show_posted_by) %></b> <%= @job.user.name %></p>
    <p class="timestamp"><b>Geplaatst op: </b> <%= time_tag(@job.created_at) %></p>
    	
    <% if current_user?(@job.user) %>
      <p><%= link_to (t :jobs_show_btn_edit), edit_job_path(@job), class: 's-hover-link text-bold' %></p>
    <% end %><br>
    
    <%= render "share_buttons" %>
    
    <div class="text-center">
      <%= link_to (t :posts_show_btnback), jobs_path, class: "btn btn-small btn-primary" %>
    </div>
  </div>
</div>

