<% provide(:title, @title) %>
<div class="box l-generic">
    <h2 class="text-center s-hover-link"><%= link_to @user.name, @user %></h2></br>
  <section>
    <%= render 'shared/stats' %>
  </section> 
</br>
  <div>
    <h3 class="text-center"><%= @title %></h3><hr>
    <% if @users.any? %>
      <ul class="ul-user-index">
        <%= render @users %>
      </ul>
        <%= paginate @users %>
    <% end %>
  </div>
</div>