<% provide(:title, (t :pricing_title)) %>
<% meta description: (t :description_subscriptions) %>


<div class="l-page-header-product pageheader-img-product">
  <div class="container">
    <h1>Bereik meer met data</h1>
    <h2>Vind data-specialisten via Datavacature.nl</h2>
      <%= button_to free_subscriptions_path, class: 'btn btn-default btn-success' do %>
        <%= icon('plus-circle', '', class: 'icon-plus-subscription') %>
          Plaats nu een gratis vacature
      <% end %>
  </div>
</div>

<div class="background-white">
  <div class="container l-product-page">
    <ul class='ul-nostyle ul-basic ul-product-usp'>
      <li>
        <%= icon('check-circle', '', class: 'icon-green' ) %>
        Bereik data-specialisten &amp; professionals
      </li>
      <li>
        <%= icon('check-circle', '', class: 'icon-green' ) %>
        Eenvoudig en snel vacatures plaatsen en beheren
      </li>
      <li>
        <%= icon('check-circle', '', class: 'icon-green' ) %>
        Gedeeld op social media
        <%= link_to icon('twitter'), 'https://twitter.com/datavacature' %>
        <%= link_to icon('linkedin'), 'https://www.linkedin.com/company/datavacature-nl' %>
      </li>
      <li>
        <%= icon('check-circle', '', class: 'icon-green' ) %>
        Deze maand gratis
      </li>
    </ul>
    <div class="text-center">
      <a class="btn btn-default btn-transparent btn-margin-top" href="/contact">
        Vragen? Stuur ons een bericht
        <%= icon('envelope-o') %>
      </a>
    </div>
  </div>
</div>


  












