<% provide(:title, (t :payment_title)) %>
<div class="form-container">
  
  <%= form_for @subscription, html: { id: 'payment-form' } do |f| %>
    <input type="hidden" name="plan_id" value="<%= @plan.id %>" /> 
    
    <div class="row">
      <p class="payment-errors" style="color:#E53935;"></p>
      <div>
        <h3><label for="email">Account: <%= current_user.email %></label></h3><hr>
        <p>Product: <%= @plan.description %> <%= formatted_price(@plan.amount) %></p>
        <p>Plaats een vacature met huidige creditcard.</p>
        <hr>
        <input type="email" name="email" id="hidden_email" style="width: 25em" value="<%= current_user.email %>" hidden="false"/>
      </div>
    </div>

    <div class="row">
      <%#= @subscription.amount %>
      <div>
        <button type="submit" class="btn btn-default-submit btn-primary btn-margin"><%= (t :payment_btn_buy) %></button>
        <div class="text-center">
          <img style="display: none;" src="<%= asset_path('well_spinner.gif') %>" id="spinner">
        </div>
      </div>
      <div class="text-center logo-stripe">
        <a href="http://stripe.com/nl"><%= image_tag("stripesolid.png") %></a>
    </div>
    </div>
  <% end %>
</div>
