<div class="media attribution media-courses-list touch-hover touch-item-jobs">
  <%#= link_to 'img', course.course_url, class: 'img img-link img-course' %>
    <div class="media-body">
      <h2><%= link_to course.title, course.course_url, class: 'touch-title' %></h2> 
        <p><%= course.description %></p>
        <span><%= icon('graduation-cap', course.company) %></span>
        <span><%= icon('bookmark', course.category) %></span>
        <span><%#= icon('clock-o', j.job_type) %><%= link_to course.title, course.course_url, class: "showpost-link" %></span>
    </div>
</div>






